.searchInputs{
   margin-top:105px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.search input {
    background-color: white;
    border : 0;
    border-radius: 2px;
    border-top-right-radius:0px;
    border-bottom-right-radius: 0px;
    font-size:18px;
    padding:15px;
    height: 30px;
    width:300px;
}
.searchIcon{
    height : 60px;
    width:50px;
    background-color: white;
    display: grid;
    place-items: center;
}
input:focus{
    outline : none;
}
.searchIcon svg{
    font-size: 35px;
}
.dataResult::-webkit-scrollbar{
    display: none;
}

.dataResult {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.dataResult .dataItem{
    /* width : 100px; */
    height: 50px;
    display: flex;
    align-items: center;
    color:black;
  
    
}

.dataItem p{
    margin-left: 10px;
}
a{
    text-decoration: none;
    margin: 2px 20px;
    /* width: 500px; */
}
a:hover{
    background-color: lightgray;
}


#clearBtn{
    cursor: pointer;
}